{
    "extends": "stylelint-config-standard",
    "rules": {
		"selector-nested-pattern": "^&",
        "indentation": "tab",
        "string-quotes": "double",
        "no-duplicate-selectors": true,
        "color-hex-case": "lower",
        "color-hex-length": "short",
        "color-named": "never",
		"at-rule-empty-line-before": "never",
        "selector-combinator-space-after": "always",
        "selector-attribute-quotes": "never",
        "selector-attribute-operator-space-before": "never",
        "selector-attribute-operator-space-after": "always",
        "selector-attribute-brackets-space-inside": "never",
        "declaration-block-trailing-semicolon": "always",
        "declaration-colon-space-before": "never",
        "declaration-colon-space-after": "always",
        "number-leading-zero": "never",
        "function-url-quotes": "always",
        "font-weight-notation": "numeric",
        "font-family-name-quotes": "always-unless-keyword",
        "comment-whitespace-inside": "never",
        "comment-empty-line-before": "always",
        "rule-empty-line-before": "always-multi-line",
        "selector-pseudo-element-colon-notation": "double",
        "selector-pseudo-class-parentheses-space-inside": "never",
        "media-feature-range-operator-space-before": "never",
        "media-feature-range-operator-space-after": "never",
        "media-feature-parentheses-space-inside": "never",
        "media-feature-colon-space-before": "never",
        "media-feature-colon-space-after": "never"
    }
}